In [16]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

<ipython-input-16-fd0b9af24538>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [80]:
data = pd.read_csv('jeopardy.csv')

In [81]:
print (data.head())

   Show Number    Air Date      Round                         Category  Value  \
0  4680         2004-12-31  Jeopardy!  HISTORY                          $200
1  4680         2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2  4680         2004-12-31  Jeopardy!  EVERYBODY TALKS ABOUT IT...      $200
3  4680         2004-12-31  Jeopardy!  THE COMPANY LINE                 $200
4  4680         2004-12-31  Jeopardy!  EPITAPHS & TRIBUTES              $200

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams

In [82]:
data.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [83]:
data.columns = ['show_number','air_date','Round','Category','Value','Question','Answer']

In [84]:
data.columns

Index(['show_number', 'air_date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [85]:
print (data.head())

   show_number    air_date      Round                         Category Value  \
0  4680         2004-12-31  Jeopardy!  HISTORY                          $200
1  4680         2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2  4680         2004-12-31  Jeopardy!  EVERYBODY TALKS ABOUT IT...      $200
3  4680         2004-12-31  Jeopardy!  THE COMPANY LINE                 $200
4  4680         2004-12-31  Jeopardy!  EPITAPHS & TRIBUTES              $200

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams

In [86]:
def filtered_data(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data['Question'].apply(filter)]

In [70]:
ret_rows = filtered_data(data, ["King", "England"])
print(ret_rows)

        show_number    air_date             Round               Category  \
4953    3003         1997-09-24  Double Jeopardy!  "PH"UN WORDS
6337    3517         1999-12-14  Double Jeopardy!  Y1K
9191    3907         2001-09-04  Double Jeopardy!  WON THE BATTLE
11710   2903         1997-03-26  Double Jeopardy!  BRITISH MONARCHS
13454   4726         2005-03-07  Jeopardy!         A NUMBER FROM 1 TO 10
...      ...                ...        ...                           ...
208295  4621         2004-10-11  Jeopardy!         THE VIKINGS
208742  4863         2005-11-02  Double Jeopardy!  BEFORE & AFTER
213870  5856         2010-02-15  Double Jeopardy!  URANUS
216021  1881         1992-11-09  Double Jeopardy!  HISTORIC NAMES
216789  5070         2006-09-29  Double Jeopardy!  ANCIENT HISTORY

         Value  \
4953    200.0
6337    800.0
9191    800.0
11710   600.0
13454   1000.0
...        ...
208295  600.0
208742  3000.0
213870  1600.0
216021  1000.0
216789  1200.0

                                                                                                      Question  \
4953    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337    In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710   This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454   It's the number that followed the last king of England named William
...                                                                      ...
208295  In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742  Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870  In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021  His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789  This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric

                              Answer
4953    Philately (stamp collecting)
6337    Ethelred
9191    Henry V
11710   James I
13454   4
...    ..
208295  William the Conqueror
208742  William of Orange roughy
213870  George III
216021  Edward VII
216789  Wessex

[152 rows x 7 columns]

In [87]:
print (data.Value)

0         $200
1         $200
2         $200
3         $200
4         $200
          ...
216925    $2000
216926    $2000
216927    $2000
216928    $2000
216929    None
Name: Value, Length: 216930, dtype: object

In [88]:
data['Value'] = data["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

In [89]:
print (data.head())

   show_number    air_date      Round                         Category  Value  \
0  4680         2004-12-31  Jeopardy!  HISTORY                          200.0
1  4680         2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  200.0
2  4680         2004-12-31  Jeopardy!  EVERYBODY TALKS ABOUT IT...      200.0
3  4680         2004-12-31  Jeopardy!  THE COMPANY LINE                 200.0
4  4680         2004-12-31  Jeopardy!  EPITAPHS & TRIBUTES              200.0

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams

In [90]:
print(data.dtypes)

show_number    int64
air_date       object
Round          object
Category       object
Value          float64
Question       object
Answer         object
dtype: object

In [91]:
filtered = filtered_data(data, ["King"])
print(filtered['Value'].mean())

771.8833850722094

In [92]:
def answer_counts(data):
    return data['Answer'].value_counts()

In [142]:
#print(answer_counts(filtered))

In [111]:
print (data.air_date[5]<'2000-1-1')

False

In [137]:
data_90=  data [data.air_date < '2000-1-1']
data_90_00 = data_90 [data_90.air_date >= '1990-1-1']

In [139]:
com_rows = filtered_data(data_90_00, ["Computer"])

In [143]:
print (com_rows)

        show_number    air_date             Round                 Category  \
2410    True         1998-07-16  Jeopardy!         PRE-COLUMBIAN CULTURES
5077    True         1999-10-22  Double Jeopardy!  19th CENTURY LITERATURE
18795   True         1998-05-22  Double Jeopardy!  GREEK LETTERS
20019   True         2000-03-14  Double Jeopardy!  DOUBLE DOUBLE LETTERS
20837   True         1998-03-04  Jeopardy!         GO TO "H"
...      ...                ...        ...               ...
209897  True         1996-04-01  Jeopardy!         APRIL FOOLS' DAY
211882  True         1998-09-17  Double Jeopardy!  WORD ORIGINS
212789  True         1997-02-10  Double Jeopardy!  ESSAYS
216527  True         1997-11-12  Jeopardy!         COMPUTERESE
216533  True         1997-11-12  Jeopardy!         COMPUTERESE

         Value  \
2410    500.0
5077    500.0
18795   1000.0
20019   200.0
20837   200.0
...       ...
209897  200.0
211882  200.0
212789  800.0
216527  400.0
216533  500.0

                                                                                                      Question  \
2410    Warriors of this Yucatan civilization battle in the computer-enhanced mural seen here:
5077    Edward Bellamy's 1888 book "Looking Backward" sends a man to this year & doesn't mention computer bugs
18795   Computer games & programs undergo this test period to work out bugs before their final retail release
20019   It's the "A" in the RAM of your computer
20837   At best, it's a computer enthusiast; at worst, it's one who illegally taps into your computer
...                                                                                               ...
209897  The "core" of this computer company goes back to its founding, April 1, 1976
211882  Derived from the Greek for "throw", you can throw a floppy one into a computer & store a file
212789  This humorist's collection of essays "In Cyberspace" is formatted like a computer manual
216527  Like a waiter, a network computer might say "I'll be your" this & store files or manage printers
216533  "Strap" once completed this word meaning to start a computer by loading software

                Answer
2410    Mayans
5077    2000
18795   Beta testing
20019   Access
20837   Hacker
...        ...
209897  Apple Computer
211882  a disk
212789  Dave Barry
216527  Server
216533  Boot

[110 rows x 7 columns]

In [ ]:
# total 110 rows has computer in it from 1990 to 2000